{
	"root": true,
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"commonjs": true
	},
	"extends": [
		"plugin:vue/vue3-strongly-recommended",
		"eslint:recommended",
		"@vue/typescript/recommended",
		"@vue/prettier",
		"@vue/prettier/@typescript-eslint"
	],
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"ecmaVersion": 2020,
		"sourceType": "module",
		"jsxPragma": "React",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"vue/require-default-prop": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/ban-types": "off"
	},
	"globals": {
	}
}
