<template>
    <section class="<% if(ProjectType==='mobile') {%>potato-safe-area-bottom <% } %>potato-flex">
        <div id="nav"<% if(ProjectType==='mobile') {%> class="potato-hairline--surround"<% } %>>
            <router-link to="/"> Home </router-link> |
            <router-link to="/about"> About </router-link> |
            <router-link to="/404"> 404 </router-link>
        </div>
        <span>{{ buildDate }}</span><%
        if(ProjectType==='mobile') {%>
        <router-view v-slot="{ Component, route }">
            <!-- 使用任何自定义过渡和回退到 `fade` -->
            <transition :name="route.meta.transition || 'fade'">
                <component :is="Component" />
            </transition>
        </router-view><% } %><%
        if(ProjectType==='web') {%>
        <router-view /><% } %>
    </section>
</template>
<script setup lang="ts"><%
    if(ProjectType==='mobile') {%>
	import { watch } from 'vue';
	import { useRoute } from 'vue-router';

	const router = useRoute();

	watch(router, () => {
		console.log('transition', router.meta.transition);
	});

    <% } %>// 发布时产生的版本信息，用于线上定位版本问题
	const buildDate = import.meta.env.VITE_APP_BUILD_DATE;
</script>
<style lang="<%= CSS %>" src="./style.<%= CSS %>"></style>
