{
	"root": true,
	"env": {
		"node": true,
		"es6": true,
		"commonjs": true
	},
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"plugins": ["@typescript-eslint"],
	"parserOptions": {
		"parser": "@typescript-eslint/parser"
	},
	"rules": {
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/ban-ts-comment": "off"
	}
}
