import { defineComponent, onMounted } from 'vue';

import { useRouter } from '@/hooks/route';
<% if( ComponentCssModule && ComponentType === 'TSX' ) { %>
import Style from './style.module.<%- CSS %>';
<% }  %><% if( !ComponentCssModule && ComponentType === 'TSX' ) {%>
import './style.<%- CSS %>';
<% } %>
export default defineComponent({
	name: '<%- ComponentName %>',<%
	if (ComponentType==='SFC') { %>
	components: {},<% } %>
	setup() {
		const router = useRouter();

		onMounted(() => {});
<% if (ComponentType==='TSX') { %>
		return () => <section><%- ComponentName %></section>;<% } %><% if (ComponentType==='SFC') { %>
		return {};<% } %>
	},
});
